<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1>hello world</h1>
    <div id="app">
        <h3>{{count}}</h3>
        <button v-on:click="increment">Increment</button>

        <div class="">
            <input type="number"
           v-model="incrementAmount"
            >
            <!-- <input type="number"
            v-bind:value="incrementAmount"
            v-on:input="setIncrementAmount"
            > -->
        </div>
              <hr/>
        <!-- directives in Vue (directives are all attributes beginning with v-) -->
        <p v-if="message.length % 2 === 0">
         Even: {{ message}}
        </p>
        <p v-else>
         odd: {{ message}}
        </p>
        <ul>
            <li v-for="number in listOfNumbers">{{number * 2}}</li>
        </ul>
        <div v-for="item in listOfData">
            <h4>{{item.name}}</h4>
            <p>Age: {{item.age}}</p>
            <p>Hobbies:</p>
            <ul>
                <li v-for="hobby in item.hobbies">{{hobby}}</li>
            </ul>
        </div>
  
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
const { createApp } = Vue;

const app = createApp({
    data: () =>{
        return {
            count: 10,
            incrementAmount: 1,
            message: "Hello Vue Directives!",
            listOfNumbers: [1,2,3,4,5],
            listOfData: [
                {name: "Alice", age: 30, hobbies: ["Reading", "Hiking", "Coding"]},
                {name: "Bob", age: 25, hobbies: ["Gaming", "Cooking"]},
                {name: "Charlie", age: 35, hobbies: ["Traveling", "Swimming", "Photography"]}
            ]
        }
    },
    methods:{
        increment(){
            this.count += this.incrementAmount;
        },
        setIncrementAmount(event){
            console.log(event.target.value);
            this.incrementAmount = Number(event.target.value);
        }
    }
})

app.mount('#app');
    </script>
</body>

</html>