<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends</title>
</head>

<body>
    <div id="app">
        <p v-if="listOfCharacters.length === 0">there are no Characters</p>
        <div v-else>
            <p>here are the list of characters:</p>
            <ul>
                <li v-for="(character, index) in listOfCharacters" :key="character.name">{{ character.name }} - {{ index}}</li>
            </ul>
            <p>comma separated values of characters : {{ listOfCharacters.map(character => character.name).join(', ') }}</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {
            createApp
        } = Vue;
        const app = createApp({
            //  data keyword is used in the Vue options API to define reactive data properties for a Vue component or instance.
            data: () => {
                return {
                    listOfCharacters:[{name:'Monica'}, {name:'Ross'}, {name:'Rachel'}, {name:'Chandler'}, {name:'Joey'}, {name:'Phoebe'}]

                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>